name: CI
on: [push]
jobs:
  build:
    runs-on: windows-11-arm
    steps:
      - name: check env
        shell: pwsh
        run: |
          git clone https://github.com/flutter/flutter.git
          $env:PATH = "$(Join-Path $PWD 'flutter\bin');$env:PATH"
          flutter channel main
          flutter doctor
