name: CI
on: [push]
jobs:
  build:
    runs-on: windows-11-arm
    steps:
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: main
          cache: true
          
      - name: check env
        shell: pwsh
        run: |
          flutter doctor
